@import 'ProjectTemplateEnginePage.css';
@import 'tailwindcss';

html,
body {
    width: 100%;
    max-width: 100%;
}
* {
    outline: 0; /* die outline wird per js einggefärbt */
}

/* js Code zum finden von overflow elementen

(() => {
  const vw = document.documentElement.clientWidth;
  const bad = [];
  document.querySelectorAll("*").forEach(el => {
    const r = el.getBoundingClientRect();
    if (r.right > vw + 1 || r.left < -1) {
      bad.push({ el, left: r.left, right: r.right, width: r.width, cls: el.className });
    }
  });
  bad.sort((a,b) => b.width - a.width);
  console.table(bad.slice(0, 20).map(x => ({
    left: Math.round(x.left), right: Math.round(x.right), width: Math.round(x.width), cls: x.cls
  })));
  bad.slice(0, 5).forEach(x => x.el.style.outline = "3px solid red");
})();

*/

/* MAIN RULES header and footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-wrapper {
    min-height: 100vh;
}

:root[data-mui-color-scheme='light'] {
    --nav-bg: rgba(255, 255, 255, 0.75);
}

:root[data-mui-color-scheme='dark'] {
    --nav-bg: rgba(255, 255, 255, 1);
}

.trigger-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 2;
    background: var(--nav-bg);
    transition: transform 0.4s;
}

footer {
    margin-top: -2rem;
    padding-bottom: 1rem;
}

@media (min-width: 1024px) {
    footer {
        padding-bottom: 2rem;
    }
}

/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll-down .trigger-menu-wrapper {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
    transform: none;
}

.scroll-up:not(.menu-open) .trigger-menu-wrapper {
    background: rga(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
