/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --white: #fff;
    --black: #221f1f;
    --lightpurple: #9e91f2;
    --darkgray: #1e1f26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    font: 16px/1.5 sans-serif;
    color: var(--white);
}

/* MAIN RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-wrapper {
    min-height: 100vh;
}

.trigger-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 2;
    background: rgba(255, 255, 255, 0.75);
    transition: transform 0.4s;
    width: 100vw;
}

/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll-down .trigger-menu-wrapper {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
    transform: none;
}

.scroll-up:not(.menu-open) .trigger-menu-wrapper {
    background: rga(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
